header {
	position: relative;
	height: 120px;
	background: #050505;
	overflow: hidden;
	margin-bottom: 0;
}

header canvas {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	opacity: 1;
}

.logo {
	display: inline-block;
	max-width: 130px;
	/* margin: 0.1rem; */
	margin-left: 1.5rem;
	/* filter: drop-shadow(0 0 5px white) drop-shadow(0 0 5px white); */
	transition: filter 0.3s ease;
	position: absolute;
	z-index: 1;
	left: 1px;
}

.logo:hover {
	filter: drop-shadow(0 0 8px #8db5f0) drop-shadow(0 0 8px #8db5f0);
}
