/* nav {
	background-color: #000000;
	padding: 10px 20px;
	width: 100%;
	text-align: right;
	position: relative;
	z-index: 100;
	margin-bottom: 0;
}

nav a {
	color: white;
	text-decoration: none;
	margin: 0 1rem;
	transition: color 0.3s ease;
	font-weight: bold;
	padding: 5px 10px;
	display: inline-block;
	position: relative;
	z-index: 1;
}

.navbar_toggler {
	background-color: #478eec;
	border-color: #478eec;
	border-radius: 5px;
}

.navbar_toggler_icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

nav a:hover {
	color: #478eec;
	text-shadow: 0 0 10px #478eeccc;
}

nav a:last-child {
	margin-right: 50px;
}

.navbar_brand {
	color: white;
	background-color: black;
}

.bg_body_tertiary {
	background-color: black !important;
}

.nav_link {
	color: white !important;
	position: relative;
	transition: all 0.3s ease;
}

.nav_link:hover {
	color: #8bb6f0 !important;
}

.nav_link.active {
	color: #8bb6f0 !important;
	font-weight: 600;
} */

.nav_link {
	position: relative;
	transition: all 0.3s ease;
}

.nav_link::after {
	content: '';
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 0;
	height: 2px;
	background: linear-gradient(90deg, #0066ff, #ffffff);
	transition: width 0.3s ease;
}

.nav_link:hover::after {
	width: 100%;
}

.nav_link:hover {
	color: #498cf1;
	transform: translateY(-2px);
}

.img_nav_link:hover {
	filter: drop-shadow(0 0 8px #2f7bed) drop-shadow(0 0 8px #2f7bed);
	transition: all 0.3s ease;
}


.mobile_nav_item {
	transition: all 0.3s ease;
	padding: 3px;
	border-left: 4px solid transparent;
}

.mobile_nav_item:hover {
	background: #498cf146;
	border-left-color: #2f7bed;

	transform: translateX(8px);
}